@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.App {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.input {
  padding: 1rem;
  width: 70%;
  border-radius: 0.5rem 0.5rem;
  height: 5vh;
  text-align: center;
}

.output {
  border: 2px black solid;
  height: 5vh;
  width: 70%;
  border-radius: 0.5rem 0.5rem;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  font-weight: bold;
  font-size: larger;
}

.emoji {
  font-size: 2rem;
  width: 70%;
  margin: auto;
  cursor: pointer;
}
